* {
  margin-left: 0px;
  margin-right: 0px;
  transition: 100ms;
}

body {
  margin-bottom: 0; /*
  background-color: rgb(24, 139, 30);*/
}
/*  HEADER  */
header {
  display: flex;
  justify-content: center; /*
  background-color: teal;*/
  background-color: rgb(36, 36, 34);
}

/*  IMAGEN PRINCIPAL / NOMBRE   */
.fotoNombre {
  width: 40%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen01 {
  background-image: url("img01.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.fotoNombre > h2 {
  margin-left: 15px;
  color: white;
  font-size: 20px;
}

.pesta単as {
  width: 60%;
  height: 100px; /*
  background-color: darkkhaki;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.pesta単as > span {
  /*
  border: 1px solid black;*/
  width: 150px;
  padding: 10px; /*
  margin-right: 2px;*/
  text-align: center;
  font-size: large;
}

.pesta単as > span > a {
  text-decoration: none;
  color: white;
  font-family: "Abril Fatface", cursive;
  font-family: "Anton", sans-serif;
  font-family: "Lobster", cursive;
}

.pesta単as > span > a:hover {
  color: yellow;
  cursor: pointer;
}

/*  NAV */
nav {
  display: flex;
  justify-content: start;
  background-color: rgb(179, 171, 166);
}

nav > h3 {
  margin-left: 140px;
  color: rgb(7, 7, 7);
  margin: 5px;
  padding-left: 125px;
  font-size: medium;
}

h3 > i {
  margin-right: 10px;
  color: red;
}

/*  MAIN    */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /*
  background-color: rgb(233, 233, 45);*/
}

/*  SOBRE MI  */
main > .sobreMi {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

main > .sobreMi > h2 {
  margin: 0;
  padding-top: 10px;
  padding: 5px; /*
  background-color: rgb(40, 40, 185);*/
  color: rgb(40, 40, 185);
  font-family: "Lobster", cursive;
  font-size: xx-large;
}

main > .sobreMi > p {
  text-align: justify;
  margin: 0px;
  padding: 10px;
}

/*  PROYECTOS  */
.Proyectos {
  width: 75%;
  margin-top: 20px;
}

.Proyectos > h2 {
  margin: 0;
  padding-top: 10px;
  padding: 5px; /*
  background-color: rgb(40, 40, 185);*/
  color: rgb(40, 40, 185);
  font-family: "Lobster", cursive;
  font-size: xx-large;
}

.listaProyectos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/*  PROYECTOS EN CURSO  */
.ProyectosEnCurso {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.ProyectosEnCurso > h2 {
  margin: 0;
  padding-top: 10px;
  padding: 5px; /*
  background-color: rgb(40, 40, 185);*/
  color: rgb(40, 40, 185);
  font-family: "Lobster", cursive;
  font-size: xx-large;
}

.ProyectosEnCurso > p {
  height: 85px;
  margin: 0;
  text-align: justify;
  padding: 10px;
}

/*  FOOTER  */
footer {
  height: 40px;
  margin-bottom: 0px;
  padding: 10px;
  display: flex;
  justify-content: start;
  background-color: rgb(36, 36, 34);
}

.iconos {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
}

.mail {
  color: rgb(255, 238, 7);
  margin-left: 2px;
  margin-right: 2px;
}

.linkedin {
  color: darkblue;
}

.github {
  color: black;
}

.iconos > a > i {
  font-size: 25px;
  margin-right: 10px;
}
